.row {
  margin-bottom: 16px;
}
.row img {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
}
.row > span {
  display: inline-block;
  vertical-align: middle;
  font-family: Roboto;
  margin: 16px;
}
